<div class="d-flex flex-column flex-md-row align-items-right p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
    </h1>
   

    <nav class="my-2 my-md-2 mr-md-3">
      <a class="p-2 text-dark"  href="#">Home</a>
     
      <a class="p-2 text-dark" href="#">menu</a>
      <a class="p-2 text-dark" href="#">Price</a>
    </nav>
    
    <a class="btn btn-outline-primary" href="#">Sign up</a>&nbsp;&nbsp;
  </div>
  